@import "../../../general_style/variable";

.add-role-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  margin-left: 2rem;
  margin-top: 1rem;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }

  .add-role-details-name {
    background-color: $secndaryColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #4f4f4f;
    background: transparent;
    .add-role-details-name-left {
      font-family: $fontFamily;
      color: #bdbdbd;
      font-size: 12px;
    }
    .add-role-details-name-right {
      font-family: $fontFamily;
      font-size: 12px;
      color: $whiteColor;
    }
  }

  .add-role-details-description {
    background-color: $secndaryColor;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #4f4f4f;
    background: transparent;
    .add-role-details-name-left {
      font-family: $fontFamily;
      color: #bdbdbd;
      font-size: 12px;
      font-weight: 700;
    }
    .add-role-details-name-right {
      font-family: $fontFamily;
      font-size: 12px;
      color: $whiteColor;
      line-height: 17px;
    }
  }

  .add-role-details-btn {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    .contact-back-btn {
      background-color: $thirdColor;
      font-family: $fontFamily;
      color: $whiteColor;
      padding: 10px 50px;
      font-size: 12px;
      border-radius: 6px;
      cursor: pointer;
      font-weight: 600;
      width: fit-content;
    }
  }

  .permission {
    font-family: $fontFamily;
    color: $whiteColor;
    font-size: 14px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 20px;
  }

  .main {
    border: 1px solid #4f4f4f;
    border-radius: 6px;
    .add-role-details-assigned {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      .add-role-details-assigned-head-left {
        font-family: $fontFamily;
        color: #bdbdbd;
        font-size: 14px;
        font-weight: 700;
      }
      .add-role-details-assigned-left {
        font-family: $fontFamily;
        color: #bdbdbd;
        font-size: 12px;
        text-transform: capitalize;
      }
      .add-role-details-assigned-right {
        font-family: $fontFamily;
        font-size: 12px;
        color: $whiteColor;
      }
      .add-role-details-assigned-head-right {
        font-family: $fontFamily;
        font-size: 14px;
        color: $whiteColor;
        font-weight: 600;
      }
    }
  }
}
