@import "../../../general_style/variable";

.workout-program {
  .workout-program-head {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    justify-content: space-between;
    .input-workout {
      background-color: $secndaryColor;
      display: flex;
      align-items: center;
      height: 35px;
      padding: 0 10px;
      border-radius: 7px;
      width: 40%;
      @media screen and (max-width: 540px) {
        width: 50%;
      }
      img {
        width: 16px;
      }
      input {
        background: transparent;
        border: none;
        padding: 0 10px;
        color: $whiteColor;
        font-family: $fontFamily;
        font-size: 10px;
        width: 100%;
        &::placeholder {
          font-family: $fontFamily;
          color: #bdbdbd;
          font-weight: 300;
          font-size: 10px;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .btn {
      background-color: $thirdColor;
      width: fit-content;
      height: 30px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      font-size: 11px;
      padding: 0 20px;
      color: $whiteColor;
      font-family: $fontFamily;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .workout-table {
    margin-top: 1rem;

    .ant-table {
      background: none !important;
    }

    .ant-table-wrapper .ant-table-thead > tr > th {
      border-bottom: none !important;
    }

    .ant-table-wrapper .ant-table-thead > tr > th {
      background-color: $secndaryColor !important;
      color: $whiteColor !important;
      font-family: $fontFamily !important;
      font-size: 12px !important;
    }

    .ant-table-tbody {
      background-color: $primaryColor !important;
      .ant-table-row > td a {
        color: $whiteColor !important;
        font-family: $fontFamily !important;
        font-size: 11px;
      }
      .ant-table-cell {
        border: none !important;
        &:nth-child(3) {
          // background-color: red !important;
          // text-align: center;
          padding-left: 50px !important;
        }
      }
      .ant-table-row > td {
        color: $whiteColor !important;
        font-family: $fontFamily !important;
        font-size: 11px;
        border: none !important;
      }
      .ant-table-cell .ant-table-cell-row-hover {
        background: none !important;
      }
    }

    .ant-table-wrapper .ant-table-tbody > tr > td {
      transition: 0 !important;
    }
    .ant-space {
      display: flex !important;
      align-items: center !important;
      // justify-content: center !important;
      // margin-left: 20px !important;
      margin-right: 20px !important;
    }
    .ant-switch.ant-switch-checked {
      background-color: $thirdColor !important;
    }
    .ant-switch.ant-switch-small {
      // min-width: 24px !important;
      height: 15px !important;
    }
    .ant-switch.ant-switch-small .ant-switch-handle {
      width: 8px !important;
      height: 8px !important;
      margin-top: 1px !important;
    }
    .ant-switch.ant-switch-small.ant-switch-checked .ant-switch-handle {
      inset-inline-start: calc(100% - 12px) !important;
      //   margin-top: 1px !important;
    }
    .ant-space-item {
      margin-top: 6px !important;
    }

    .ant-table-cell {
      &::before {
        display: none !important;
      }
    }

    .action-type {
      display: flex !important;
      align-items: center !important;
      gap: 10px;
      img {
        cursor: pointer;
      }
    }
    .ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell-row-hover {
      background-color: $secndaryColor !important;
    }

    .ant-table-wrapper .ant-table-pagination.ant-pagination {
      display: none !important;
    }
  }
}

.ant-modal .modal {
  text-align: left !important;
  h2 {
    text-align: center !important;
  }
}

.create-workout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  label {
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
  }

  .input-group {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .single-image-upload-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    .id-placeholder-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 160px;
      width: 80%;
      background-color: rgb(241, 241, 241);
      border-radius: 1px;
      border: 2px dashed black;
      cursor: pointer;
    }
    .image-error {
      border-color: red;
      color: red;
    }
    .id-image-container {
      position: relative;
      width: 80%;
      border-radius: 10px;
      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 10px;
        display: block;
      }
      .upload-icon-container {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 35px;
        width: 35px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        cursor: pointer;
        svg {
          display: block;
        }
      }
    }
    .image-input {
      display: none !important;
    }
  }

  .error_email {
    color: $redColor;
    width: 95%;
    text-align: left;
    font-size: 11px;
  }
}
