$primaryColor: #272727;

$secndaryColor: #4f4f4f;

$thirdColor: #f79300;

$greenColor: #16cc66;

$redColor: #ea4237;

$whiteColor: #ffffff;

$greyColor: #828282;

$bgColor: #333333;

$fontFamily: "Ubuntu", sans-serif;
