@import "../../../general_style/variable";

.change-password {
  .inputs__cahnge-password {
    width: 50%;
    margin-top: 1.5rem;
    margin-left: 2rem;
    @media screen and (max-width: 540px) {
      width: 100%;
      margin-left: 0;
    }

    .ant-form {
      .ant-form-item {
        margin-bottom: 10px;
        border-radius: 6px;
        .ant-input-affix-wrapper {
          background-color: $secndaryColor;
          border: none;
          border-radius: 6px !important;
          height: 40px;
          .ant-input {
            background-color: $secndaryColor;
            padding: 0px 0px;
            color: #bdbdbd;
            &::placeholder {
              font-size: 10px !important;
              color: #bdbdbd;
              font-weight: 700;
            }
          }
          .anticon.ant-input-password-icon {
            color: #bdbdbd;
            width: 11px;
          }
        }
        .ant-form-item-explain-error {
          // background: $bgColor;
          font-size: 12px;
        }
      }
      .ant-form-item .ant-form-item-control-input {
        min-height: 35px;
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    justify-content: end;
    gap: 2rem;
    p {
      color: $redColor;
      font-family: $fontFamily;
      font-weight: 700;
      cursor: pointer;
      font-size: 13px;
    }
    .update {
      background-color: $thirdColor;
      height: 36px;
      border: none;
      padding: 0 50px;
      border-radius: 7px;
      color: $whiteColor;
      font-family: $fontFamily;
      cursor: pointer;
      font-weight: 700;
      font-size: 12px;
    }
  }
}
