@import "../../general_style/variable";

.Sidebar {
  background-color: $primaryColor;
  height: 95vh;
  border-radius: 14px;
  @media screen and (max-width: 768px) {
    display: none;
  }
  .sidebar__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .top {
      .active {
        li {
          background-color: rgba(247, 147, 0, 0.1);
          color: $thirdColor;
        }
      }
      h1 {
        text-align: center;
        color: $whiteColor;
        padding-top: 22px;
        font-size: 19px;
        cursor: pointer;
      }
      ul {
        list-style-type: none;
        margin-top: 1.5rem;
        height: calc(100vh - 160px);
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: block;
          width: 7px;
          @media (max-width: 767px) {
            height: 2px;
          }
        }

        /* Set the background color of the scrollbar track */
        &::-webkit-scrollbar-track {
          background-color: #f7940023;
        }

        /* Set the color of the scrollbar thumb */
        &::-webkit-scrollbar-thumb {
          background-color: #f79300;
          border-radius: 10px;
        }

        /* Set the color of the scrollbar thumb on hover */
        &::-webkit-scrollbar-thumb:hover {
          background-color: #555;
        }

        a {
          text-decoration: none;
        }
        li {
          color: $whiteColor;
          margin: 10px 0;
          font-weight: 400;
          cursor: pointer;
          padding: 15px 0px 15px 24px;
          font-size: 14px;
        }
      }
    }
    .logout {
      padding-bottom: 2rem;
      cursor: pointer;
      display: flex;
      text-decoration: none;
      color: $redColor;
      padding-left: 24px;
      font-size: 14px;
    }
  }
}
