@import "../../../general_style/variable";

.new-password {
  width: 97%;
  max-width: 1600px;
  margin-top: 1rem !important;
  margin: auto;

  .form {
    width: 40%;
    margin-top: 10% !important;
    margin: auto;
    @media screen and (max-width: 768px) {
      width: 80%;
      margin-top: 14% !important;
    }
    @media screen and (max-width: 540px) {
      width: 90%;
      margin-top: 11.5rem !important;
    }
    h3 {
      text-align: center;
      color: $whiteColor;
      font-weight: 400;
      padding-bottom: 1rem;
      font-size: 26px;
    }
    .new-password-text {
      color: $whiteColor;
      font-family: $fontFamily;
      text-align: center;
      padding: 0 8rem;
      margin-bottom: 1.5rem;
      @media screen and (max-width: 540px) {
        padding: 0 0.5rem;
      }
    }

    .ant-input-affix-wrapper {
      height: 50px !important;
      background-color: $secndaryColor !important;
      border: none !important;
      box-shadow: none !important;
      color: #bdbdbd !important;

      border-radius: 13px !important;
      padding: 0 18px !important;
      &::placeholder {
        color: #bdbdbd !important;
        font-family: "Ubuntu";
      }
      .anticon.ant-input-password-icon {
        color: #bdbdbd !important;
      }
    }
    .ant-input {
      background: $secndaryColor !important;
      color: #bdbdbd !important;
      border-radius: 13px !important;
      //   padding: 0 18px !important;
      &::placeholder {
        color: #bdbdbd !important;
      }
    }
    .ant-form-item {
      margin-bottom: 10px !important;
    }
    .reset-button {
      background-color: $thirdColor;
      height: 45px;
      border: none;
      width: 100%;
      border-radius: 10px;
      color: $whiteColor;
      cursor: pointer;
      margin-top: 4rem;
      font-weight: 500;
      font-family: $fontFamily;
    }
  }
}
